* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.title {
    text-decoration: none;
    color: black;
}


.nav {
    background-color: rgb(100, 149, 237);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 4rem;
}

.form-div {
    text-align: center;
    margin-top: 40px
}

form {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}