<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>iMAiTHination</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='styles.css') }}" />
    <link href="{{ url_for('static', filename='lightbox.css')}}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div>
            <nav class='nav'>
                <span><b>iMAiTHination</b> </span>
            </nav>
        </div>
        <div class="form-div">
            <h1>Text input</h1>
            <form action="/upload_text" method="post" class="form">
                <label for="text-input" class="text-input">
                    <textarea name="text-input"></textarea>
                </label>
                <button type="submit" class="btn">Submit text</button>
                <a href="../../backend/temp_img/temp_image.jpg" data-lightbox="image-1" data-title="My caption">Image #1</a>
            </form>
        </div>
        <div class="form-div">
            <h1>Image Upload</h1>
            <form action="/upload_image" method="post" enctype="multipart/form-data" class="form">
                <label for="file-input" class="file-upload">
                    <span style="font-size: 10px;">Choose file</span>
                    <input type="file" id="file-input" name="file-input">
                </label>
                <button type="submit" class="btn">Upload File</button>
            </form>
        </div>

        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>

        <span style="font-size: 30px;">Please wait while the AI works its magic...</span>
        <div class="loader"></div>
        
    </div>
<script src="../../backend/js/lightbox-plus-jquery.js"></script>
</body>
</html>

