<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Image Upload</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
    <div class="container">
        <div>
            <nav class='nav'>
                <span><b>Math/Text Problem to Image</b> </span>
            </nav>
        </div>
        <div class="form-div">
            <h1>Text input</h1>
            <form action="/upload_text" method="post" class="form">
                <label for="text-input" class="text-input">
                    <textarea name="text-input"></textarea>
                </label>
                <button type="submit" class="btn">Submit text</button>
            </form>
        </div>
        <div class="form-div">
            <h1>Image Upload</h1>
            <form action="/upload_image" method="post" enctype="multipart/form-data" class="form">
                <label for="file-input" class="file-upload">
                    <span style="font-size: 10px;">Choose file</span>
                    <input type="file" id="file-input" name="file-input">
                </label>
                <button type="submit" class="btn">Upload File</button>
            </form>
        </div>

        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>

        <span style="font-size: 30px;">Please wait while the AI works its magic...</span>
        <div class="loader"></div>
        
    </div>
    
</body>
</html>

