<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Upload Success</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='styles.css') }}" />
    <link href="/Users/prisoe/boilermake-2024/backend/static/lightbox.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav class='nav'>
            <span>Math Problem to Image</span>
        </nav>
    </div>
    <h1>Upload Successful</h1>
    <p>Uploaded file: {{ filename }}</p>
    <img src="{{ file }}" alt="Uploaded Image">
    <script src="../../backend/js/lightbox-plus-jquery.js"></script>
</body>
</html>